DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="generate-a-random-secret-string-of-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# Discord OAuth - https://discord.com/developers/applications
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Google OAuth - https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# UI flags (shown to clients)
NEXT_PUBLIC_HAS_DISCORD=true
NEXT_PUBLIC_HAS_GOOGLE=true
NEXT_PUBLIC_DISCORD_ENABLED=false
NEXT_PUBLIC_GOOGLE_ENABLED=false
NEXT_PUBLIC_SITE_URL=bluemace.xyz
